<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    components: {},
    props: {},
    created() {},
    data() {
      return {
        msg: '<%= data.name %>',
      }
    },
    mounted() {},
  }
</script>

<style>
  .<%= data.lowerName %> {
  }
</style>
